#home {
  width: 100%;
  background-color: black;
}

header {
  position: fixed;
  color: white;
  background-color: black;
  height: 100px;
  right: 0;
  left: 0;
  z-index: 100;
}

.containerheader {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.pixel {
  margin-top: -6px;
  font-family: "Pixelify sans", sans-serif;
  margin-left: 100px;
  font-size: 25px;
}

.center {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.center div {
  margin-right: 20px;
  cursor: pointer;
}

.getstarted {
  margin-right: 120px;
  font-family: "Montserrat", sans-serif;
}

.homebackground {
  position: relative;
  object-fit: cover;
  margin-top: 100px;
  height: 75vh;
  width: 100%;
}

.homecontainer {
  position: relative;
}

.side {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 30%;
  left: 70%;
  width: 400px;
  color: white;
}

.big {
  font-weight: bold;
  font-size: 35px;
}

.small {
  width: 350px;
}
