/* Global Styles */
#home {
  width: 100%;
  background-color: black;
}

header {
  position: fixed;
  color: white;
  background-color: black;
  height: 100px;
  right: 0;
  left: 0;
  z-index: 100;
}

.containerpic {
}

.productpic {
  display: block;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.containerpic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 87), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.containerheader {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.pixel {
  margin-top: -6px;
  font-family: "Pixelify sans", sans-serif;
  margin-left: 100px;
  font-size: 25px;
  width: 200px; /* Fixed width */
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis if text is too long */
}

.center {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.center div {
  margin-right: 20px;
  cursor: pointer;
}

.getstarted {
  margin-right: 120px;
  font-family: "Montserrat", sans-serif;
  width: 200px; /* Fixed width */
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis;
}

.homebackground {
  position: relative;
  object-fit: cover;
  margin-top: 100px;
  height: 75vh;
  width: 100%;
}

.homecontainer {
  position: relative;
}

.side {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 30%;
  left: 70%;
  width: 400px;
  color: white;
}

.big {
  font-weight: bold;
  font-size: 35px;
}

.small {
  width: 350px;
}

@media screen and (max-width: 768px) {
  .homebackground {
    height: 50vh;
    margin-top: 60px;
  }

  .side {
    position: absolute;
    top: 40%;
    width: 80%;
    font-size: 20px;
  }

  .big {
    font-size: 30px;
  }

  .small {
    width: 100%;
  }

  .pixel,
  .getstarted {
    width: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .homebackground {
    height: 60vh;
    margin-top: 80px;
  }

  .side {
    position: absolute;
    top: 30%;
    left: 60%;
    width: 300px;
    font-size: 22px;
  }

  .big {
    font-size: 32px;
  }

  .small {
    width: 100%;
  }

  .pixel,
  .getstarted {
    width: 180px;
  }
}

@media screen and (min-width: 1025px) {
  .homebackground {
    height: 75vh;
    margin-top: 100px;
  }

  .side {
    font-size: 25px;
    position: absolute;
    top: 30%;
    left: 70%;
    width: 400px;
  }

  .big {
    font-weight: bold;
    font-size: 35px;
  }

  .small {
    width: 350px;
  }

  .pixel,
  .getstarted {
    width: 200px;
  }
}
