body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%; /* Ensure full height */
  margin: 0; /* Remove default margin */
  background-color: white; /* Background color */
}

section {
  height: 130vh;
  border-bottom: 1px solid #ddd;
  font-family: "Montserrat", sans-serif;
}
#contact {
}
#product {
}
/*team start*/
#team {
  background-color: #1e1e1e;
  box-sizing: border-box;
}

.first-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding-top: 35px;
  text-align: center;
}

.teamtext-header {
  position: relative;
  font-size: 28px;
  color: whitesmoke;
  text-align: center;
  top: 50px;
}

.text {
  font-size: 20px;
}

.contributors {
  height: 280px;
  width: 280px;
  border-radius: 15px;
  border-style: none;
}

.card {
  width: 280px;
  height: 280px;
  background-color: #858d94;
  border-radius: 15px;
  border-style: none;
  margin: 25px;
}

.nameholder div {
  margin: 5px;
  color: #6c757d;
}

.nameholder {
  position: absolute;
  height: 60px;
  width: 220px;
  font-size: 15px;
  padding-top: 15px;
  border-radius: 5px;
  background-color: #ddd;
}

.nameplatetop {
  position: absolute;
  top: 40rem;
  left: 5.4rem;
}

.nameplate1 {
  position: absolute;
  top: 40rem;
  left: 26rem;
}

.nameplate2 {
  position: absolute;
  top: 40rem;
  left: 46.7rem;
}

.nameplate3 {
  position: absolute;
  top: 40rem;
  left: 67.5rem;
}

.nameplate4 {
  position: absolute;
  bottom: 19.5rem;
  left: 57rem;
}

.nameplate5 {
  position: absolute;
  bottom: 19.5rem;
  left: 36rem;
}

.nameplate6 {
  position: absolute;
  bottom: 19.5rem;
  left: 16rem;
}

/*team end*/
